@import '../../styles/flex.module.scss';
@import '../../styles/mainColor.scss';
@import '../../styles/mediaQuery.scss';
.sticky{
    position: sticky ;
    top: 0
}
.notSticky{
    transition: 10s
}

.mainContainer{
    @extend .flex;
    @extend .spaceAround;
    @extend .alignCenter;
    height:auto;
    width: 100%;
    flex-direction: column;
    background-color: whitesmoke;
    z-index: 2500;
    .row{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: auto;
        
        .rightContainer{
            @extend .flex;
            @extend .alignCenter;
            height: 100%;
            width: 30%;
            .menuBox{
                display: none;
            }
            
        }
        .middleContainer{
            display: flex;
            align-items: center;
            position: relative;
            height: 100%;
            width: 50%;
        }
        .leftContainer{
            @extend .spaceAround;
            @extend .alignCenter;
            width: 15%;
            height: 100%;
            i{
                font-size: 32px;
                color: $primaryColor;
            }
        }
    }
    }
@media only screen and (min-width:300px) and (max-width:1024px) {
    .leftContainer{
        width: 30% !important;
        justify-content: flex-end !important;
        padding-left: 15px;
        order: 3;
    }
  .middleContainer{
    display: none !important;
  }

    .rightContainer{
        width: 30% !important;
        order: 1;
        .menuBox{
            display: flex !important;
            align-items: center;
            justify-content: center;
            font-size: x-large;
            width: 60px;
            height: 30px;
            color: #918d8d;
            border-radius: 5px;
            transition: .5s;
        } 
        .menuBox:hover{
            background-color: #e4e2e2bd;
            color: black;
            transition: .5s;
        }
    }
    .bestShop{
        order: 2;
    }
}
@font-face {
    font-family: segoe-ui-scripts;
    src: url('/Font/segoesc.ttf');
}
.bestShop{
    
    font-family: segoe-ui-scripts;
    color: #7726c4;
    font-size: x-large;
    text-decoration: none;
}