.mainContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
    margin: 15px auto;
    flex-wrap: wrap;
    width: 70%;
    .link{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: black;
        font-weight: lighter;
        font-size: small;
        height:100%;
        margin: 5px;
    }

}