.mainContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    .dateBox{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        box-sizing: border-box;
        border-radius: 3px;
        color: #6d6c6c;
        background-color: #f7f7f7;
        width: 95px;        
        height: 120px;
        
    }
}