@import '../../../styles/mainColor.scss';

.mainNav{
    position: fixed;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 300px;
    top: 0;
    right: 0;
    background-color: #f5f5f5;
    z-index: 10000;
    box-shadow: -5px 0 50px #645964; 
    .close{
        position: absolute;
        top: 15px;
        left: 15px;
        border: none;
        background-color: transparent;
        padding:10px 20px;
        border-radius:5px;
        transition: .5s;
    }
    .close:hover{
        background-color: #d1d1d1;
        transition: .5s;
    }
    .link{
        list-style: none;
        text-decoration: none;
        color: #a5a5a5;
    }
    .link:hover{
        color: black;
    }
    
}

.show{
    right:0;
    transition: .5s;
}
.hide{
    right: -100%;
    transition: .5s;
}
.transparentDiv{
    position: fixed;
    z-index: 2000;
    top: 0;
    width: 85%;
    height: 100vh;
    background-color: #fff7f725;
    transition: .5s;
}
.transparentDivShow{
    left: 0;
    transition:.45s;
}
.transparentDivHide{
    left: -100%;
    transition: .5s;
}
   
