@import '../../../styles/mainColor.scss';
.mainNav{
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    // margin: 5px;
    .link{
        position: sticky;
        top: 10px;
        text-decoration: none;
        color: $primaryColor;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 50%;
        transition: 300ms;
        border-radius: 8px;
        
    }
    .link:hover{
        background-color: #e6e5e5a8;
        transition: 300ms;
    }
}
@media only screen and  (max-width:1024px) {
    .mainNav{
        background-color: #e4e5e6;
        position: fixed;
        width:30%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        z-index: 1000;
        top: 0;
        transition: .5s;
    }
    .show{
        right:0;
        transition: .5s;
    }
    .hide{
        right: -100%;
        transition: .5s;
    }
    .transparentDiv{
        position: fixed;
        z-index: 1000;
        top: 0;
        width: 70%;
        height: 100vh;
        background-color: #64616149;
        transition: .5s;
    }
    .transparentDivShow{
        left: 0;
        transition:.45s;
    }
    .transparentDivHide{
        left: -100%;
        transition: .5s;
    }
}