@import '../../../styles/mainColor.scss';
.mainNav{
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    .link{
        text-decoration: none;
        color: $primaryColor;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 50%;
        transition: 300ms;
        border-radius: 8px;
        
    }
    .link:hover{
        background-color: #e6e5e5a8;
        transition: 300ms;
    }
}