@import '../../../styles/mediaQuery.scss';
.inputSearch{
    position: absolute;
    width: 90%;
    border: none;
    height: 50px;
    border-radius: 15px;
    padding-right: 30px;
    outline: none;
    color: #1d3557;
}
.inputSearch::placeholder{
    color: #1d3557;
}
.icon{
    position: absolute;
    right: 1%;
    
}

@media screen and (max-width:1024px) {
    .inputSearch{
        display: none !important;

    }
    .icon{
        display: none;
    }
}