.mainContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    .leftContainer{
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        
    }
}
@media only screen and (max-width:768px) {
    .leftContainer{
        width: 100% !important; 
    }
}
