.mainFooter{
    width: 100%;
    height: auto;
    background-color: #fbfbfb;
    margin-top: 30px;
    .top{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0 15px;
    height: 80px;
    border-bottom: 1px solid #cecece;
    .socialIcons{
        display: flex;
        width: 400px;
        justify-content: space-around;
        align-items: center;
        font-size: xx-large;
        color: #2e2e2e;
    }
    }
    .middle{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        height: auto;
        margin: 15px 0;
        .middleText{
            width: 15%;
            // height: 300px;
        }
    }
    .bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eeeeee;
        height: 80px;
        direction: ltr;
        span{
            margin: 0 5px;
        }
    }}
    .iconBox{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;

    }
.github{
    color:#171516
}
.instagram{
    color:#ab47bc
}
.telegram{
    color:#0088cc
}
.google{
    color:#dd4b39
}
.twiiter{
    color:#00aced
}
.facebook{
    color:#3b5998
}
.iconBox:hover{
    box-shadow: 0 0 3px #7a7777;
    border-radius: 50%;
}
@media only screen and (max-width:992px) {
    .middleText{
        width: 30% !important;
    }}
@media only screen and (max-width:600px) {
    .top{
        span{
            display: none;
        }
       justify-content: center !important;
        }
    .middleText{
        width:50% !important;
    }}