.mainContainer{
    width: 8rem;
    height: 1.8rem;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #b3b0b0;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: black;
    font-size: small;
    .icon{
        rotate: 180deg;
        font-size: large;
    }
}