.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 90%;
    height: auto;
    margin: 15px auto;
    padding: 5px;
    box-sizing: border-box;
    .profile{
        width: 95%;
        height: 200px;
        border: 1px solid black;
        margin: 15px auto;
    }
    .profileInfo{
        width: 95%;
        height: 500px;
        border: 1px solid black;
        margin: 15px auto;
        button{
            background-color: #bebebe;
            margin: 0 5px;
            border-radius: 5px;
            color: #2e2e2e;
        }
        button:focus{
            color: black;
            border: 1px solid #bebebe;
        }
    }
}

